{% extends 'base.html' %}
{% block title %} Holiday Requests {% endblock %}
{% block content %}
    <h2>Holiday Requests</h2>
    <a href="{% url 'create_holiday_request' %}" class="btn btn-primary">Add Holiday Request</a>

    <div class="col-md-10">
        <table class="table table-dark table-striped">
            <thead>
            <tr>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Status</th>
                <th>Employee</th>
                <th>Replacement</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for request in holiday_requests %}
                <tr>
                    <td>{{ request.start_date }}</td>
                    <td>{{ request.end_date }}</td>
                    <td>{{ request.get_status_display }}</td>
                    <td>{{ request.employee }}</td>
                    <td>{{ request.replacement }}</td>
                    <td>
                        <a href="{% url 'holiday_request_update' request.pk %}"
                           class="btn btn-outline-warning btn-sm">Update</a>
                        <a href="{% url 'holiday_request_delete' request.pk %}" class="btn btn-outline-danger btn-sm">Delete</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}